@import "../../display/style/variables.scss";

.footer,
.header {
  padding: $y-padding-desktop $x-padding-desktop;
}

.footer {
  max-height: 10vh;
  min-height: 10vh;
}

.header {
  max-height: 25vh;
  min-height: 25vh;
  .header-head-container {
    .header-head {
      height: 90px;
    }
  }
  .header-head-container-moving {
    animation: headMove 2s ease-in-out infinite;
    .header-head {
      animation: headBob 1s ease-in-out infinite;
    }
  }
  .header-title {
    margin: 0 auto;
    width: 270px;
    .header-title-initial {
      color: $colour3;
      font-family: $font1;
      text-shadow:
        -1px -1px 0 $colour1,
        1px -1px 0 $colour1,
        -1px 1px 0 $colour1,
        1px 1px 0 $colour1;
    }
  }
}

.music-toggle {
  bottom: $y-padding-desktop;
  cursor: pointer;
  font-size: $space_unit * 6;
  position: absolute;
  right: $x-padding-desktop;
  z-index: 9999;
}

@keyframes headMove {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(42px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(-42px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes headBob {
  0% {
    transform: rotate(0deg);
  }
  12.5% {
    transform: rotate(6deg);
  }
  25% {
    transform: rotate(12deg);
  }
  37.5% {
    transform: rotate(6deg);
  }
  50% {
    transform: rotate(0deg);
  }
  62.5% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(-12deg);
  }
  82.5% {
    transform: rotate(-6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
