@font-face {
  font-family: "EdgeOfTheGalaxy";
  src: url("../fonts/EdgeOfTheGalaxyPoster.otf");
}
@font-face {
  font-family: "RetroGaming";
  src: url("../fonts/RetroGaming.ttf");
}

$font1: "EdgeOfTheGalaxy";
$font2: "RetroGaming";
