@import "./variables";

* {
  box-sizing: border-box;
  color: $colour1;
  font-family: $font2;
  margin: 0;
  text-align: center;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $colour2;
  font-family: $font1;
}

.app {
  background-blend-mode: screen;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  background-image: url("../media/images/background.jpg");
  background-position: center;
  background-size: cover;
  max-height: 100vh;
  min-height: 100vh;
  .about-link {
    bottom: $space_unit * 10;
    cursor: pointer;
    font-size: $space_unit * 6;
    position: absolute;
    right: $x-padding-desktop;
  }
  .music-player {
    bottom: $y-padding-desktop;
    cursor: pointer;
    font-size: $space_unit * 6;
    position: absolute;
    right: $x-padding-desktop;
  }
}
